body {
	font-family: Roboto, san-serif;
	font-size: 14px;
	background: #EEE;
	color: #333;
}

h1 {
	color: #333;
	font-weight: 300;
	font-size: 54px;
	margin-top: 100px;
	text-shadow: 1px 1px #AAA;
}

h2 {
	font-size: 20px;
	font-weight: 300;
	color: #666;
	line-height: 60px;
	vertical-align: middle;
}

h3 {
	font-size: 28px;
	font-weight: 300;
	color: #333;
	line-height: 64px;
	vertical-align: middle;
	text-align: center;
	margin-top: 5px;
}

h3 a {
	text-decoration: none;
	font-size: 20px;
	padding-left: 6px;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 300;
}

.normal {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.gray {
	color: #999;
}

.left {
	float: left;
}

.right {
	float: right;
}

div.wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

div.content {
	height: 100%
}


div#header {
	margin-top: 20px;
	height: 70px;
}

div#logo {
	border-right: 1px solid #CCC;
}

div#logo img {
	width: 200px;
	height: 60px;
	margin: 0 auto;
}

ul#social_links {
	margin-top: 10px;
}

div#splash {
	background-image: url('../images/feature-bg.jpg');
	height: 580px;
}

img.sharp {
	position: absolute;
	top: 70px;
}

.mask {
    border:1px solid green;
    -webkit-mask-image: url('../images/mask.gif');
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-position:210px 115px;
    mask: url('../images/mask.gif');
}

div#device {
	padding-top: 20px;
	background: url('../images/nexus-bg-1.png') 38px 104px no-repeat;
}

div#contact {
	margin-top: 70px;
}


div#services {
	background: #FFF;
	height: 320px;
	border-bottom: 1px solid #DDD;
}

div#services_text {
	height: 320px;
	display: table;
}

div#services_text p {
	color: #555;
	font-size: 18px;
	line-height: 30px;
	display: table-cell;
	vertical-align: middle;
}

div.checklist {
	height: 320px;
	display: table;
	color: #333;
	font-size: 18px;
}

div.checklist ul {
	display: table-cell;
	vertical-align: middle;
	list-style: url('../images/check.png');
	padding-left: 0;
	margin-left: 0;
}

li.check {
	line-height: 64px;
}

div#clients {
	height: 220px;
}


li.icon {
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 10px;
}

div#clients_imgs {
	height: 445px;
	background-image: url('../images/clients-bg-1secondeveryday.jpg');
	overflow: hidden;
}

div#shadow {
	text-align: center;
}

div.blurb {
	background: rgb(200, 54, 54); /* The Fallback */
	background: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	margin-top: 60px;
	color: #555;
}

div#left-blurb {
	display: none;
}

div.blurb img {
	margin: 14px;
	text-align: center;
}

div.blurb p {
	margin: 10px;
}

div#products {
	background: #FFF ;
	border-bottom: 1px solid #DDD;
	padding: 20px;
}

div#products_title {
	margin-top: 10px;
}

a.title {
	margin-top: 14px;
	font-size: 18px;
	text-decoration: none;
	color: #444;
}

div#products .ic {
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 5px;
}

div#products .desc {
	font-size: 16px;
	font-weight: 300;	
	line-height: 22px;
	margin-top: 8px;
}

div.product {
	border-radius: 20px;
	cursor: pointer;
	min-height: 120px;
	padding: 20px 0;
}

div.hover {
	background-color: #EEE;
}

div#team {
	padding-bottom: 10px;
}

li.pic {
	margin-bottom: 16px;
}

.pic img {width: 100px;height: 108px;}

.selected {
	outline: solid 5px #9abb58;
}

p.link {
	margin-top: 10px;
}

div.stack {
	margin-top: 20px;
}

p.member_name {
	font-size: 18px;
	margin-top: 14px;
	margin-bottom: 14px;
}

p.member_desc {
	font-size: 16px;
}

div#footer	 {
	height: 200px;	
	background: #FFF;
	border-top: 1px solid #DDD;
}

div#copy {
	line-height: 120px;
	border-right: 1px solid #CCC;
	margin-top: 40px;
	margin-bottom: 40px;
}

div#list_right, div#list_left {
	height: 200px;
	display: table;
}

div#list_right ul, div#list_left ul {
	display: table-cell;
	vertical-align: middle;
}

li.foot {
	line-height: 36px;	
}

div#footer a, div#footer a:visited {
	color: #333;
	text-decoration: none;
}

div#footer a:active, div#footer a:hover {
	text-decoration: underline;
}

div#play_store {
	margin-top: 40px;
	margin-left: 30px
}

div#made_nyc, div#nwc {
	margin-top: 20px;
	text-align: center;
	line-height: 40px;
}


/* CONTACT MODAL */

div#contact_panel {
	margin: 0 auto;
	width: 500px;
}

#data p {
	line-height: 24px;
}

#contact_panel h3 {
	margin: 20px;
	border-bottom: 2px solid #A4C639;
}

#contact_panel h2 {
	line-height: 32px;
}

p.space {
	margin-bottom: 20px;
}

/* ============================= */
/* ! Portfolio		             */
/* ============================= */

body.portfolio div#clients_imgs {
	margin-top: 16px;
}

body.portfolio div#thumbs {
	padding-bottom: 50px;
}

body.portfolio div.thumb {
	margin-top: 50px;
}

/* ============================= */
/* ! Layout for 1024             */
/* ============================= */

@media handheld, only screen and (max-width: 1260px) {
	div.wrapper {
		width: 100%;
		max-width: 1010px;
		margin: 0 auto;
	}
	
	div#clients_imgs {
		background-position-x: -200px;
	}
	
	div#device {
		padding-top: 20px;
		background: url('../images/nexus-bg-2.png') 38px 104px no-repeat;
	}
}
